@model IEnumerable<LiteCommerce.DomainModels.Customer>
@{
    ViewBag.Title = "Customers";
    int i = 0;
}
<div class="box box-primary">
    <div class="box-body">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Input search value...">
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="container-fluid row lc-margin-bottom">
    <div class="col-sm-8">
        There are <b>@ViewBag.rowCount</b> Customers. Page 1/100
    </div>
    <div class="col-md-4 text-right">
        <div class="btn-group">
            <a href="~/Customer/Input" class="btn btn-sm btn-primary">Add Customer</a>
            <button type="button" class="btn btn-sm btn-danger">Delete Customer</button>
        </div>
    </div>
</div>
<div class="box box-success">
    <div class="box-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:30px">
                        <input type="checkbox" />
                    </th>
                    <th style="width:50px">#</th>
                    <th style="width:auto">Name</th>
                    <th style="width:200px">Address</th>
                    <th style="width:200px">Contact Info</th>
                    <th style="width:80px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>@(++i)</td>
                        <td>
                            <span class="lc-company-name">
                                @customer.CompanyName
                            </span>
                            <span class="lc-contact-title">
                                @customer.ContactTitle
                            </span>
                            <span class="lc-contact-name">
                                @customer.ContactName
                            </span>
                        </td>
                        <td>
                            <span style="display:block">@customer.Address</span>
                            <span>@customer.Country</span>
                        </td>
                        <td>
                            <p style="display:block"><i class="fa fa-phone"></i> @customer.Phone</p>
                            <p style="display:block"><i class="fa fa-fax"></i> @customer.Fax</p>
                            
                        </td>
                        <td class="text-right">
                            <a class="btn btn-sm btn-default" href="~/Customer/Input/@i/">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="box-footer clearfix text-center">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>